<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <p>There are <%= @product_count %> products in the database.</p>
  <p>There are <%= @category_count %> categories in the database.</p>

</section>
